/LabTestsEditor/nbproject/private/
/LabTestsEditor/build/
/LabTestsEditor/dist/
/code/LabTestsEditor/dist/
/code/LabTestsEditor/build/
/code/LabTestsEditor/nbproject/private/
/LabTestsInspector/nbproject/private/
/LabTestsInspector/build/
/code/LabTestsViewer/nbproject/private/
/code/LabTestTools2/nbproject/private/
/code/LabTestTools2/build/